#include <winver.h>

1 VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "ZCODE"
            VALUE "FileDescription",  "Lua IDE"
            VALUE "FileVersion",      "0.2.0"
            VALUE "InternalName",     "Lua IDE"
            VALUE "OriginalFilename", "Lua IDE.exe"
            VALUE "ProductName",      "Lua IDE"
            VALUE "ProductVersion",   "0.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
